---
import SearchUsers from "../components/SearchUsers.vue";
export const prerender = false
const SERVER_URL = import.meta.env.PUBLIC_SERVER_URL;
---
<div>
    <SearchUsers SERVER_URL={SERVER_URL} client:load />
</div>