---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div>
		<a href="/slow">slow</a>
		<a id="medium" href="/medium" data-astro-prefetch="hover">medium</a>
		<a href="/fast">fast</a>
	</div>
</Layout>
