---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div>
		<a href="/page-speed/slow">slow</a>
		<a id="medium" href="/page-speed/medium" data-astro-prefetch="hover">medium</a>
		<a href="/page-speed/fast">fast</a>
	</div>
</Layout>
