---
export const prerender = false
---
<div>
  <select id="user-select">
    <option disabled selected>Select a user</option>
  </select>

  <div>
    <h2 id="user-name"></h2>
    <h3 id="pet"></h3>
    <h3 id="animal"></h3>
    <h3 id="favorite-food"></h3>
  </div>
</div>

<script>
  import { initUserSelector } from '../scripts/fetch-users';
  initUserSelector();
</script>
