---
import Test from "../components/Test.vue";


---
<div>
    <h1 id="test">loading</h1>
    <h1>medium</h1>
    <Test client:load />
</div>

<script>
    const fetchData = async () => {
  await new Promise(resolve => setTimeout(resolve, 3000));
  return {
    message: "Data loaded after a long wait!"
  };
};
const element = document.getElementById("test")

const setData = async () => {
    const data = await fetchData();
    if (element) {
        element.innerText = data.message
    }
}
setData()
</script>
